@model IEnumerable<WebMvc.Application.Models.MediaEntry>

<ul>
    @foreach (var file in Model)
    {
        <li>
            <div>
                @file.Name - @file.CreationDate
            </div>
        </li>
    }
</ul>