@model string

@{
    ViewBag.Title = "Error";
}

<div class="box-page">
    <div class="box">
        <h2>Error</h2>
        <p>@Model</p>
        <a href="@Url.Action("MyFiles", "Home")">
            <button>Go back</button>
        </a>
    </div>
</div>