@page

@{
    ViewBag.Title = "About";
}


<div class="box-page">
    <div class="box">
        <div>Contacts:</div>
        <div>TeamLead: papawfen</div>
        <div>Frontend: richesea, bgreydon</div>
        <div>Backend: bgreydon, pearlecr, gemmaeme</div>
    </div>
</div>

@* <h1>About</h1> *@