<!DOCTYPE html>

<html>
<head>
    <title>Info21 | @ViewBag.Title</title>
</head>
<body>
<div>
    <a href="@Url.Action("Login")">Login</a> | <a href="@Url.Action("About")">About</a>
</div>
<div>
    @RenderBody()
</div>
<footer>
    @if (IsSectionDefined("Footer"))
    {
        @await RenderSectionAsync("Footer")
    }
</footer>
</body>
</html>