@page

@{
    ViewBag.Title = "Login";
}

<form method="post">
    <div class="box-page">
        <div class="box">
            <h2>Login</h2>
            <input name="login" type="text" placeholder="username">
            <input name="password" type="password" placeholder="password">
            <button inputmode="submit">Login</button>
            <p>Need account? <a href="@Url.Action("Register")">Register</a></p>
        </div>
    </div>
</form>